.logo{
    width: 5%;
}


#abuelos{
    height: 300px;
}

.imgAbus{
    align-content: center;
}


.footerJ{
    height: 150px;
    margin-top: 500px;
}


.imgFoot{
    height: 40px;
}


.recom{
    display: flex;
}

.recom div{
    align-items: center;
    justify-content: center;
    
}

.recom div img{
    height: 15%;
}

.todos{
    display: flex;

}


.map{
    display: flex;
}

.map iframe{
    align-items: center;
    justify-content: center;
    width: 100%;

}

